body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: #df8df3;
    color: white;
    padding: 20px 0;
    text-align: center;
}
nav {
    margin: 20px 0;
}
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
h1, h2 {
    text-align: center;
}
.about-container {
    text-align: center;
}
.about-container img {
    max-width: 200px;
    border-radius: 50%;
    margin: 20px 0;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.project {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
footer {
    background-color: #f5cae0;
    color: rgb(186, 112, 230);
    text-align: center;
    padding: 20px 0;
    line-height: 1.6;
    width: 100%;
    box-sizing: border-box;
}
a {
    color: #007BFF;
}
